@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">To-Do!</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed pharetra risus. Integer aliquet neque in lectus lacinia tincidunt.
        Mauris viverra urna quis ex ultrices, eget tempor felis egestas.
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis dolor id risus mollis auctor.
        Quisque ullamcorper, tortor tristique luctus tristique, ipsum massa molestie elit, nec eleifend nisi enim sit amet mi.
    </p>
</div>

<div class="row">
    <div class="col my-auto">
        <h2>To-Do</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed commodo magna.
        Donec scelerisque arcu est. Integer sit amet tincidunt libero. Mauris imperdiet leo arcu,
        in feugiat lorem tempus quis. Vivamus tempus sed nulla sed iaculis.
    </div>
    <div class="col my-auto">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                    <td>Buy popcorn</td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                    <td>Send e-mail to Marry</td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                    <td>Repair radio</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <img src="~/images/person1.jpg" class="card-img-top" alt="Person 1">
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/person2.jpg" class="card-img-top" alt="Person 2">
            <div class="card-body">
                <p class="card-text">Sed dolor augue, tincidunt vitae nisi vitae, placerat maximus nisl.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/person3.jpg" class="card-img-top" alt="Person 3">
            <div class="card-body">
                <p class="card-text">Etiam sed mi id est convallis viverra eget et est.</p>
            </div>
        </div>
    </div>
</div>