@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">To-Do!</h1>
    <p class="lead">
        Just do it <i class="far fa-smile-wink"></i>
    </p>
    <hr class="my-4">
    <p>
        It is a simple app that will help you organize.
    </p>
</div>

<div class="row">
    <div class="col-12 col-md-6 my-auto">
        <h2>To-Do</h2>
        Accomplish what's meaningful and important to you each day.
        From grocery lists to housecleaning routines, daily tasks are simple with To-Do.
    </div>
    <div class="col-12 col-md-6 mt-4 mt-md-0">
        <video style="width: 100%; height: auto;" controls>
            <source src="~/videos/appDemo.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-auto">
        <h1>Our users' opinions</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
            <img src="~/images/person1.jpg" class="card-img-top" alt="Person 1">
            <div class="card-body">
                <p class="card-text">I love it, that's all.</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card">
            <img src="~/images/person2.jpg" class="card-img-top" alt="Person 2">
            <div class="card-body">
                <p class="card-text">My favourite day-to-day app.</p>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mt-4 mt-md-0">
        <div class="card">
            <img src="~/images/person3.jpg" class="card-img-top" alt="Person 3">
            <div class="card-body">
                <p class="card-text">It makes my life easier.</p>
            </div>
        </div>
    </div>
</div>
