@model to_do.Models.ToDo

@{
    ViewData["Title"] = "Index";
}

<div id="currTable"></div>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="ToDoes" asp-action="AjaxCreate"
              data-ajax="true" data-ajax-method="POST"
              data-ajax-mode="replace" data-ajax-update="#currTable"
              data-ajax-complete="clearInput">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Add To-Do:</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/refresh-table.js"></script>
}
